.whole-page{
  display: flexbox;
  color: white;
}
.quiz-page{
  background-color:rgb(163, 161, 161);
  margin: 50px;
  border-radius: 3%;
}
button{
  border-radius: 12px;
  border: none;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding: 20px;
  width: 100%;
}
.display-quiz{
  display: flexbox;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}
.questions{
  width: 100%;
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.options{
  width: 100%;
  padding: 30px;
  margin: 10px;
  padding-left: 80px;
}
.options button{
  width:80%;
  margin: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(97, 95, 95, 0.416);
}
.highlight{
  display: flex;
  align-items: center;
  justify-content: center;

}
.highlight button{
  padding:10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 2px;
  background-color: rgb(197, 20, 20);
}
.header button{
 margin-left: 50%;
 background-color: black;
 color: white;

}
